*{
    font-family: 'Roboto';
}
.body{
    background-attachment: fixed;
    background-size: 100%;
    width: 1366px;
    height: 768px;
    margin: 0 auto;
    
    background-image: url(../img/background\ 1.png);
}

/*--header--*/

.header{
    display: flex;
    justify-content: space-between;
    padding-left: 165px;
    padding-right: 165px;
}

/*--logo--*/

.logo{
    display: flex;
    align-items: center;    
}

.logo_a_img{
position: relative;
}

.logo_a_img_2{
    position: absolute;
    opacity: 0;
}
.logo_a_img_2:hover{
    opacity: 1;
}

.logo_a_h1{
    text-decoration: none;    
    color: #FFFFFF;
    margin-left: 8px;
}

.logo_h1.logo_a_h1:hover{
    font-weight: 700;
    font-size: 29px;
    line-height: 29px;
    color: #FFFFFF;
}

.logo_a_h1:hover{
    color: #F26522;

}

/*--contacts--*/

.a_mailto{
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;

    text-decoration: none;
    color: #FFFFFF;
}

.div_mailto{
    margin-top: 46px;
    margin-bottom: 19px;
}
.a_mailto:hover{
    color: #F26522;

}

.div_tel{
    text-align: end;
}

.a_tel{
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;

    text-decoration: none;
    color: #FFFFFF;
}

.a_tel:hover{
    color: #F26522;
}

/*--main--*/

.main{
    padding-left: 165px;
    padding-right: 165px;
}

.main_ul:nth-child(1n+1){
    color: #FFFFFF;
}

.main_ul{
    display: grid;
    gap: 64px;
    grid-template-columns: 304px 304px 304px;
    grid-template-rows: 220px 220px;
   
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.div_general_li{
    position: relative;
    
}

.div_general_li:hover{
   color: #F26522;  
}

.div_price{
    width: 100%;
    position: absolute;
    opacity: 0;
    background-color: #F26522;
    overflow: hidden;
    transition: 2s ease;
    top: 220px;
    color: #FFFFFF;
    
}

.main_text_1_p{
    text-align: left;
    padding-left: 16px;
    margin: 0 auto;
    margin-top: 7px;
}

.main_text_2_p{
 justify-content: space-between;
}

.main_text_3_p::after{
 content: ">";
 margin-left: 16px;
 margin-right: 14px; 
}

.main_div_price{
    display: flex;
flex-direction: row;
justify-content: space-between;

margin-left: 16px; 
}

.div_general_li:hover .div_price{
    top: 145px;
    opacity: 1;
}

/*--footer--*/

.footer{
    align-items: center;
    text-align: center;

    margin-top: 110px;
}

.footer_p{
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;  
    color: #FFFFFF; 
}